@tailwind base;
@tailwind components;

.custom-box-shadow {
    /* box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); */

}

@tailwind utilities;


/* PortfolioDashboard.css */

.fade-enter {
    opacity: 0;
    transform: scale(0.95);
  }
  .fade-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
  }
  .fade-exit {
    opacity: 1;
    transform: scale(1);
  }
  .fade-exit-active {
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
  }
  